
@font-face {
    font-family: "Belukha";  
    src: url("./fonts/Montserrat-Alternates.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color: transparent;scroll-behavior: smooth;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;400;700&display=swap'); */
/*--------------------*/
.wrapper {
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: "Belukha";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(./img/space-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #6d6d6d;
    position: relative;
}
.container {
    background-image: url(./img/SS_bez_fona.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}
.header {
    /* background-color: #ff4848; */
    color: aqua;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 20px;
}
.main {
    /* background-color: #eeff50; */
    color: aqua;
    height: 80vh;
    text-align: center;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}



.vk {
    padding: 5px;
    color: inherit;
    /* background-color: #8b8b8b; */
    height: 10%;

}
.vk img{
    filter: invert(1);
    object-fit: cover;
    width: 50%;
    
}


.footer {
    color: aqua;
    /* background-color: #4b42ff; */
    height: 10vh;
    display: flex;
    justify-content: space-around;
}
.footer__adres a{
    text-transform: uppercase;
    text-decoration: underline;
    color: inherit;
}
.img__logo,
.soc {
    max-width: 100px;
}
.header__burger{
    cursor: pointer;
    z-index: 100;
    height: 100%;
}
.burger {
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: relative;
    transition: all 1s;
}
.burger::after{
    content: '';
    width: 50px;
    height: 5px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    transition: all 1s;
}
.burger::before{
    content: '';
    width: 50px;
    height: 5px;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #fff;
    transition: all 1s;
}
/* first menu */
.menu{
    background-color: #7a7a7a;
    background-image: url(./img/iyN_tPwnmaU.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    color: #fff;
    top: 0vh;
    transition: all 1s;
}
.wemenu{
    
    z-index: 110;
    background-color: #000000;
    background-image: url(./img/border-menu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    color: #fff;
    top: 0vh;
    transition: all 1s;
    padding: 20px;
    line-height: 20px;
}
.wemenu2{
    line-height: 20px;
    padding: 20px;
    z-index: 110;
    background-color: #222121;
    background-image: url(./img/asIzzoYWBKc.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    color: #fff;
    top: 0vh;
    transition: all 1s;
    flex-direction: column;
    font-size: 18px;
    line-height: 20px;
}
.menu li{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 48px;
    color: #ffffff;
}
.menu li:hover{
    color: red;
}
.active{
    top: -200vh;
}
.background__img{
    position: absolute;
    
    top: 0;
    z-index: 0;
    width: 100%;
}
.wemenu2__text{
    font-size: 14px;
    text-align: left;
}
